language: java

jdk:
  - oraclejdk9

script: mvn -B -Dgpg.skip=true install

install: mvn -B -DskipTests=true -Dgpg.skip=true clean install

#addons:
#  coverity_scan:
#    project:
#      name: "narender-singh/rocket"
#      description: "Build submitted via Travis CI"
#    notification_email: na.singh@aol.com
#    build_command_prepend: "mvn clean"
#    build_command:   "mvn -DskipTests=true compile"
#    branch_pattern: master
